footer.site-footer .footer-about a {
   border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important;
    padding-bottom: .25rem !important;
    text-decoration: none !important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    transition: color 0.2s ease;
}
footer.site-footer .footer-about p {
    margin-bottom: 1.5rem !important;
}
.box-image {
    height: 180px !important;
    object-fit: cover;
    object-position: center;
}
h1 {
    letter-spacing: -2.5px;
}
.approach-icon {
    padding: 15px;
}
.wpcf7-not-valid-tip {
    font-size: 14px;
}
.wpcf7-response-output {
    text-align: center;
    font-size: 16px;
}
.contact-info-card .office-icon {
    margin-right: 15px;
}